.is-style-aquamarine {
  color: aquamarine;
}

.is-style-firebrick {
  color: firebrick;
}

.wp-block-myprefix-block-styles {
  color: white;
  text-align: center;
  font-weight: bolder;
  background-color: black;
  padding: 30px;
}

.is-style-big-pink {
  background-color: Fuchsia;
  padding: 100px;
}

.is-style-little-maroon {
  background-color: maroon;
  padding: 10px;
}
