.wp-block-myprefix-block-json-test-block {
  text-align: center;
  font-weight: bolder;
  color: lightblue;
  background-color: black;
  padding: 20px;
}

.is-style-big-pink {
  background-color: deeppink;
  padding: 100px;
}
